body {
  margin: 0px;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  /* justify-content: space-between; */
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
}
.cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  filter: brightness(0.5);
  z-index: -0;
}
.temp {
  position: absolute;
  width: 100vw;
  bottom: 0px;
  z-index: 99;
  display: none;
}
.bottom-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  margin: 0px 20rem 20px 20rem;
  background-color: rgb(37 99 235);
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.icon {
  height: 24px;
  width: 24px;
  color: white;
}
.tabs {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  /* font-weight: lighter; */
  color: rgba(0, 0, 0, 0.508);
}
.tabs:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(37 99 235);
  transition: 0.3s;
  font-weight: bold;
}
.tabs > span {
  margin-top: 5px;
}
.jumbotron {
  display: flex;
  width: 100%;
  padding: 30px;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.title {
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 10rem;
}
.address {
  margin-top: 5px;
  font-size: small;
  color: gray;
}
@media only screen and (max-width: 767px) {
  .tabs {
    padding: 5px 10px 5px 10px;
  }
  .temp {
    display: inline;
    /* justify-content: center; */
  }
  .bottom-nav {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    margin: 0px 10px 20px 10px;
    background-color: rgb(29 78 216);
  }
  .icon {
    height: 24px;
    width: 24px;
  }
  .tabs:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(29 78 216);
    transition: 0.3s;
  }
  .tabs > span {
    font-size: 12px;
    display: none;
  }
}
ul {
  position: relative;
  list-style-type: none;
  /* display: flex; */
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  padding: 20px 20px 10px 20px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  width: 10%;
}
.logo {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.logo > span {
  font-size: 24px;
  font-weight: bold;
  /* color: gray; */
}
.imgs {
  width: 64px;
}
li {
  border-radius: 10px;
  /* background-color: #58ddbe; */
  margin-left: 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

.navbar-icon {
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icons {
  height: 32px;
  width: 32px;
  color: white;
}
